.node {
  margin: 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
  outline: 1px solid rgb(49, 133, 133);
  /* background-color: blue; <-- for when we implement colors */
  display: inline-block;
}

.end-node {
  background-color: red;
}

.start-node {
  background-color: green;
}
